<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnkNewwIKujQTx3FXQ1A51mRX5JG6UX68</string>
	<key>GCM_SENDER_ID</key>
	<string>241461826546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leasureNft</string>
	<key>PROJECT_ID</key>
	<string>leasure-nft-88aaf</string>
	<key>STORAGE_BUCKET</key>
	<string>leasure-nft-88aaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241461826546:ios:05623d890756f9e345516b</string>
</dict>
</plist>